@import "variables";

.warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $light-yellow;
  height: 100%;

  &__icon-container {
    width: 7rem;
    height: 7rem;
    margin: 0 3rem;
    background-color: $sollor-yellow;
    align-content: center;
    &__icon {
      width: 3.8rem;
      height: 3.8rem;
    }
    border-radius: 20rem;
  }

  &__content {
    text-align: left;
  }
}
