.legend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h5 {
    margin-right: 1.3rem;
    font-size: 1.8rem;
    font-weight: 700
  }

  p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  &__dot__green {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 7rem;
    background-color: #3DC07C;
    display: inline-block;
    margin: 1rem;
  }

  &__dot__yellow {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 7rem;
    background-color: #FFDA00;
    display: inline-block;
    margin: 1rem;
  }

  &__dot__red {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 7rem;
    background-color: #F93B18;
    display: inline-block;
    margin: 1rem;
  }
}