<div class="safety-status">
    <h4 class="safety-status__title">{{'global.statuses.status' |translate}}</h4>
    <div class="safety-status__status-container">
        <span class="safety-status__status-container__item">
            {{'global.statuses.powerProd' |translate}} </span>
        <span
            class="safety-status__status-container__dot safety-status__status-container__dot--{{status.statusPowerProduction}}"></span>

        <span class="safety-status__status-container__item">
            {{'global.statuses.coreTemp' |translate}} </span>
        <span
            class="safety-status__status-container__dot safety-status__status-container__dot--{{status.statusCoreTemperature}}"></span>

    </div>
</div>