<div class="safety-status">
    <h4 class="safety-status__title">Overall system status:</h4>
    <div class="safety-status__status-container">
        <span class="safety-status__status-container__item">
            Power production output
        </span>
        <span class="safety-status__status-container__dot"></span>

        <span class="safety-status__status-container__item">
            Core temperature
        </span>
        <span class="safety-status__status-container__dot"></span>

    </div>
</div>