$vma-mat-primary-palette: (
  50: #e4eef6,
  100: #bcd4e9,
  200: #90b8da,
  300: #639ccb,
  400: #4186c0,
  500: #2071b5,
  600: #1c69ae,
  700: #185ea5,
  800: #13549d,
  900: #0b428d,
  A100: #bdd5ff,
  A200: #8ab5ff,
  A400: #5795ff,
  A700: #3d85ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
 
$vma-mat-secondary-palette: (
  50: #fffbe0,
  100: #fff4b3,
  200: #ffed80,
  300: #ffe54d,
  400: #ffe026,
  500: #ffda00,
  600: #ffd600,
  700: #ffd000,
  800: #ffcb00,
  900: #ffc200,
  A100: #ffffff,
  A200: #fffcf2,
  A400: #ffeebf,
  A700: #ffe7a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
 
$vma-mat-tertiary-palette: (
  50: #fee7e3,
  100: #fdc4ba,
  200: #fc9d8c,
  300: #fb765d,
  400: #fa583b,
  500: #f93b18,
  600: #f83515,
  700: #f72d11,
  800: #f6260e,
  900: #f51908,
  A100: #ffffff,
  A200: #ffebea,
  A400: #ffbab7,
  A700: #ffa29d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);