@import "variables";

.footer {
  height: 34rem;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #1e324f;
  &__back-to-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16rem;
    cursor: pointer;
    &--arrow {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      background-repeat: no-repeat;
      background-image: url(../../../../assets/icons/chevron_right.svg);
    }
    height: 4rem;
    color: $white;
    width: 100%;
    background-color: $gray-blue;
    font-size: $font-size-m;
    font-weight: 400;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 1rem 16rem 0 16rem;
    color: $white;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;

    &__column {
      margin-right: 3rem;
      max-width: 26.2rem;

      &__title {
        border-bottom: 1px solid $white;
        max-width: 25rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      &__icon {
        display: flex;
        cursor: pointer;

        &--twitter {
          width: 2rem;
          height: 2rem;
          background-repeat: no-repeat;
          margin-right: 2rem;
          background-image: url(../../../../assets/icons/twitter.svg);
        }

        &--instagram {
          width: 1.9rem;
          height: 2rem;
          margin-right: 2rem;
          background-repeat: no-repeat;
          background-image: url(../../../../assets/icons/instagram.svg);
        }

        &--linkedin {
          width: 2rem;
          height: 1.9rem;
          background-repeat: no-repeat;
          background-image: url(../../../../assets/icons/linkedin.svg);
        }
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: flex-end;
    padding: 0 15.6rem;
    grid-column: 3;

    &__image {
      width: 14.1rem;
      height: 2.1702rem;
      background-image: url(../../../../assets/images/logo_white.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
