<div class="welcome">
  <h1 class="welcome__title">Welcome!</h1>
  <p class="welcome__paragraph">Lorem ipsum dolor sit amet consectetur. Adipiscing non pulvinar placerat lorem ullamcorper magna. Pulvinar bibendum enim eget nullam lacus urna. Consequat lorem lectus imperdiet tincidunt. Orci magnis tempus tempus sit.</p>
  <custom-btn></custom-btn>
  <div class="welcome__status">
    <h2>Safety System Status</h2>
    <p>Lorem ipsum dolor sit amet consectetur. Adipiscing non pulvinar placerat lorem ullamcorper magna. Pulvinar bibendum enim.</p>
    <legend></legend>
  </div>
</div>
